<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "me.jpg" %>
	</div>

	<div id="content">
		<h1>Hi, I am Abigail!</h1> <br>
		<h2>This is my first attempt to create a blog using Rails. Thanks to Mackenzie Child!</h2>
		<p>Adapted from: 
		
			<a href="https://www.youtube.com/watch?v=BI_VnnOLSKY">How to build a Blog in Rails 4</a>
		</p>
		<!--
		<a href="http://test.skimlinks.com">Skimlinks Test</a>
		<br>
		<a href="http://www.ulta.com/ulta/browse/productDetail.jsp?productId=xlsImpprod13251291">Sample Product Link</a>
		-->
	</div>


<script type="text/javascript">
  var vglnk = { key: '3b572b8f2c1e49acbcadd3321b1f6b8b' };

  (function(d, t) {
    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
    s.src = '//cdn.viglink.com/api/vglnk.js';
    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
  }(document, 'script'));
</script>

<!--
<script type="text/javascript" src="//s.skimresources.com/js/48502X1206514.skimlinks.js"></script>
-->

</div>