<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "me.jpg" %>
	</div>

	<div id="content">
		<h1>Hi, I am Abigail!</h1> <br>
		<h2>This is my first attempt to create a blog using Rails. Thanks to Mackenzie Child!</h2>
		<p>Adapted from: 
		
			<a href="https://www.youtube.com/watch?v=BI_VnnOLSKY">How to build a Blog in Rails 4</a>
		</p>


		<!-- LinkShare link
		<a href="http://click.linksynergy.com/link?id=g10jUJUdfUQ&offerid=355510.70104&type=2&murl=https%3A%2F%2Fwww.toofaced.com%2Fp%2Fbronzers%2Fbronzed-and-poreless%2F"><IMG border=0 src="http://d210vlyat54t3c.cloudfront.net/media/filter/product/img/g_70104.jpg" ></a><IMG border=0 width=1 height=1 src="http://ad.linksynergy.com/fs-bin/show?id=g10jUJUdfUQ&bids=355510.70104&type=2&subid=0" >
		-->

		<!-- Viglink link
		<a href="http://www.barnesandnoble.com/w/the-name-of-god-is-mercy-pope-francis/1122872744?ean=9780399588631">The Name of God Is Mercy - Barnes and Noble's</a>
		<a href="http://test.skimlinks.com">Skimlinks Test</a>
		-->

		<!-- SkimLink link
		<a href="http://www.ulta.com/ulta/browse/productDetail.jsp?productId=xlsImpprod13251291">Sample Product Link</a>
		-->
	</div>

<!-- Viglink install code
<script type="text/javascript">
  var vglnk = { key: '3b572b8f2c1e49acbcadd3321b1f6b8b' };

  (function(d, t) {
    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
    s.src = '//cdn.viglink.com/api/vglnk.js';
    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
  }(document, 'script'));
</script>
-->

<!-- SkimLink install code
<script type="text/javascript" src="//s.skimresources.com/js/48502X1206514.skimlinks.js"></script>
-->

</div>