<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "me.jpg" %>
	</div>

	<div id="content">
		<h1>Hi, I am Abigail!</h1> <br>
		<h2>This is my first attempt to create a blog using Rails. Thanks to Mackenzie Child!</h2>
		<p>Adapted from: 
		
			<a href="https://www.youtube.com/watch?v=BI_VnnOLSKY">How to build a Blog in Rails 4</a>
		</p>
	</div>


</div>